---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import Cat from '../assets/cat.jpg';
---
<Layout title="About"> 
    <h1>About</h1>
    <Image src={Cat} alt="cat photo" class="rounded-full" quality="max" width={512} />
    <p>About page</p>
</Layout>
